<!DOCTYPE HTML>
<html>

<head>
    <title>textured_green</title>
    <meta name="description" content="website description" />
    <meta name="keywords" content="website keywords, website keywords" />
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" type="text/css" href="style/style.css" title="style" />
</head>

<body>
    <div id="main">
        {% block header %}
        <div id="header">
            {% include "header.html" %}
            <div id="menubar">
                {% block menu %}
                    {% include "menu.html" %}
                {% endblock%}
            </div>
        </div>
        {% endblock %}
        {% block site_content %}
        <div id="site_content">
            {% include "sitebar.html" %}
            {% block content %}
            {% endblock%}
        </div>
        {% endblock %}
        {% block footer %}
            {% include "footer.html" %}
        {% endblock %}
    </div>
</body>

</html>